/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/
.wp-block-acf-home-targets{
    margin-top: 50px;
}
.wp-block-acf-home-targets .container{
    padding-bottom: 150px;
    border-bottom: 1px solid #D8D8D8;;
}
.customer-col h3{
    text-align: center;
    text-transform: uppercase;
    color: var(--hypno1);
    font-family: 'Avenir Next Demi';
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.customer-col{
    padding: 3.5vh;
    background: #FFFFFF;
    box-shadow: 0 0 76px 0 rgba(51,51,51,0.20);
    border-radius: 20px;
}
.customer-col-content, .customer-col h3{
    max-width: 260px;
    text-align: center;
}
.customer-col-content{
    margin-top: 20px;
    margin-bottom: 20px;
}
.customer-col-content p{
    font-family: 'Avenir Next';
    font-size: 17px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
}
.customer-col-2{
    z-index: 99;
    transform: scale(1);
    padding: 40px ​3vh;
}
.customer-col img{
    width: 135px;
    height: 135px;
    border-radius: 160px;
    border: 3px solid #F3F3F3;
    opacity: 0;
    transform: scale(0.5);
    object-fit: cover;
}
.customer-col a{
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .customer-col-content, .customer-col h3 {
        max-width: 220px;
    }
    .customer-col-content p{
        font-size: 16px;
    }
}
@media only screen and (max-width: 992px) {
    .customer-col-content, .customer-col h3 {
        max-width: 320px;
        margin: 20px auto;
    }
    .customer-col {
        padding: 20px;
        padding-bottom: 30px;
    }
    .customer-col-2 {
        z-index: 9999;
        transform: scale(1.1);
        padding: 40px ​3vh;
        margin: 10px 0px;
    }
    .customer-col-1{
        padding-bottom: 50px;
    }
    .customer-col-3{
        padding-top: 30px;
    }
}
@media only screen and (max-width: 576px) {
    .wp-block-acf-home-targets .container {
        padding-bottom: 50px;
        border-bottom: 0px solid #D8D8D8;
    }

    .customer-col {
        background: #FFFFFF;
        box-shadow: 0 0 19px 0 rgb(51 51 51 / 12%);
        border-radius: 20px;
    }
    .customer-col-2,
    .customer-col-1,
    .customer-col-3 {
        transform: scale(1);
        margin: initial;
        padding-bottom: 40px;
        margin: 15px;
    }
}