/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/
.wp-block-acf-repeater-2-columns > div{
    background-size: cover!important;
}
.wp-block-acf-repeater-2-columns .introduction-row{
    margin-bottom: 80px;
}
.wp-block-acf-repeater-2-columns .introduction-row h2{
    font-family: 'Avenir Next Medium';
    font-size: 36px;
    color: #333333;
    letter-spacing: 0;
    line-height: 46px;
    margin-bottom: 30px;
    position: relative;
}
.wp-block-acf-repeater-2-columns .introduction-row h2::before{
    content: url(../../../assets/img/svg/crochet-left.svg);
    display: block;
    position: absolute;
    top: -30px;
    left: -30px;
}
.wp-block-acf-repeater-2-columns .introduction-row p{
    font-family: 'Avenir Next Medium';
    font-size: 20px;
    color: #333333;
    line-height: 30px;
    max-width: 80%;
    letter-spacing: 0px;
}
.wp-block-acf-repeater-2-columns .block-content h3{
    font-family: 'Avenir Next Medium';
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 30px;
}
.wp-block-acf-repeater-2-columns .block-content ul li, .wp-block-acf-repeater-2-columns .block-content p{
    font-family: 'Avenir Next';
    font-size: 18px;
    color: #333333;
    line-height: 26px;
    letter-spacing: 0;
}
.wp-block-acf-repeater-2-columns .block-img{
    display: flex;
}
.wp-block-acf-repeater-2-columns .row-repeater{
    margin-bottom: 30px;
}
.wp-block-acf-repeater-2-columns .row-repeater:nth-child(odd){
    flex-direction: row-reverse;
}


@media only screen and (max-width: 992px) {
    .wp-block-acf-repeater-2-columns .introduction-row h2 {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .wp-block-acf-repeater-2-columns .introduction-row {
        margin-bottom: 30px;
    }
    .wp-block-acf-repeater-2-columns .introduction-row h2::before{
        display: none;
    } 
    .wp-block-acf-repeater-2-columns .introduction-row p{
        font-size: 18px;
        line-height: 26px;
    }
    .wp-block-acf-repeater-2-columns .block-content{
        margin-top: 40px;
    }
    .wp-block-acf-repeater-2-columns .block-img{
        justify-content: center;
    }
}
@media only screen and (max-width: 575px) {
    .wp-block-acf-repeater-2-columns .introduction-row h2 {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    .wp-block-acf-repeater-2-columns .introduction-row p {
        font-size: 17px;
        line-height: 24px;
        font-family: 'Avenir Next';
        text-align: center;
        max-width: 100%;
    }
    .wp-block-acf-repeater-2-columns .block-content h3 {
        font-family: 'Avenir Next Demi';
        font-size: 22px;
        line-height: 32px;
    }
}
@media only screen and (max-width: 420px) {

}
