/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/

.block-banner-content{
    border-radius: 30px;
    padding: 60px 80px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.block-banner-content::after{
    content: url(../../../assets/img/svg/shape-banner.svg);
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: auto;
}
.block-banner-content div{
    z-index: 999;
}   
.block-banner-content h2{
    color: #FFFFFF;
    font-family: 'Avenir Next Bold';
    font-size: 44px;
    color: #F3F3F3;
    letter-spacing: 0;
    line-height: 52px;
}
/* .wp-block-acf-banner-ressources{
    padding: 100px 0;
} */


@media only screen and (max-width: 992px) {
    .block-banner-content h2 {
        color: #FFFFFF;
        font-size: 32px;
        line-height: 42px;
    }
    .block-banner-content {
        border-radius: 30px;
        padding: 40px 60px;
    }

}
@media only screen and (max-width: 768px) {
    .block-banner-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .block-banner-content h2{
        margin-bottom: 20px;
    }

}
@media only screen and (max-width: 575px) {
    .block-banner-content {
        border-radius: 30px;
        padding: 40px 30px;
    }
    .block-banner-content h2 {
        margin-top: 10px;
    }
    .block-banner-content img{
        height: 20px;
    }
}
@media only screen and (max-width: 420px) {
    .block-banner-content h2 {
        color: #FFFFFF;
        font-size: 26px;
        line-height: 36px;
    }

}