.sticky-slide{
    min-height: 100vh;
}

.scroll-height{
    height: 100%;
    position: relative;
}

.scroll-duration{
    position: absolute;
    top: 0;
    left: 0;
}

.img-resize {
    max-width: 100vw;
    height: 100vh;
     object-fit: contain;
    position: sticky;
    position : -webkit-sticky;
    /* padding-top: 35vh; */
    top: 0;
    z-index: 3;
    display: flex;
}

.scroll-height .mask{
    position: sticky;
    position : -webkit-sticky;
    height: 100vh;
    /* background-color: red; */
    z-index: 2;
    background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%);
    width: 100%;
    display: block;
    max-width: 50vw;
    top: 0vh;
    left: 100%;
    transform: translateX(calc(100% + 30px));
    pointer-events: none;
}

.scroll-text{
    padding-top: 50vh;
}

.sticky-slide-title h2, .sticky-slide-title h3{
    margin: 10px 0 0 0;
    line-height: 1;
    font-size: 4.5vw;
    font-family: 'Avenir Next Bold';
    color: #3d3d3d;
}

.sticky-slide-right{
    display: flex;
    flex-direction: column;
}

.johnny-cadillac{
    margin: 0 0 15vh 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    min-width: 350px;
}

.sticky-slide[version="v1"] .johnny-cadillac{
    margin: 0 auto;
}

.johnny-cadillac .bkg{
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    left: calc(-15vw - 15px);
   
}


.ipr .johnny-cadillac{
    margin: 15vh 0 15vh 0;
}

/* INIT ANIM CONTAINER TEXT */
.johnny-cadillac {
    opacity: 0;
}
.johnny-cadillac .content-sticky-slide {
    transform: translate(0vh, -25vh);
}

/* COLOR 1 */
.johnny-cadillac .content-sticky-slide img {
    position: absolute;
    left: 0;
    transform: translate(calc(-100% - 15px), 10px);
}
.johnny-cadillac .content-sticky-slide span {
    border: 1px solid var(--hypno1);
    border-radius: 5px;
    padding: 0.2em 0.4em;
    font-size: 0.8em;
    color: var(--hypno1);
}
.johnny-cadillac .content-sticky-slide h3 {
    font-size: 3vw;
    font-weight: 500;
    line-height:1.35em;
    color: var(--dark);
}   

.johnny-cadillac .content-sticky-slide .slide-text,
.johnny-cadillac .content-sticky-slide .slide-text *{
    color: var(--hypnogrey2);
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    margin: 30px 0;
    opacity: 1;
    font-family: 'Avenir Next Medium';
    letter-spacing: 0;
}
.johnny-cadillac .content-sticky-slide a{
    color: var(--hypno1)!important;
    font-size: 18px;
    opacity: 1;
}
/* COLOR 2 */
.johnny-cadillac.two .content-sticky-slide span {
    border: 1px solid var(--white);
    color: var(--white);
}
.johnny-cadillac.two .content-sticky-slide h3{
    color: var(--white);
}   

.johnny-cadillac.two .content-sticky-slide .slide-text,
.johnny-cadillac.two .content-sticky-slide .slide-text *{
    color: var(--white);
}
.johnny-cadillac.two .content-sticky-slide a{
    color: var(--white)!important;
}
/* COLOR 3 */
.johnny-cadillac.three .content-sticky-slide span {
    border: 1px solid var(--hypno1);
    color: var(--hypno1);
}
.johnny-cadillac.three .content-sticky-slide h3{
    color: var(--hypno1);
}   

.johnny-cadillac.three .content-sticky-slide .slide-text,
.johnny-cadillac.three .content-sticky-slide .slide-text *{
    color: var(--hypnogrey2);
}
.johnny-cadillac.three .content-sticky-slide a{
    color: var(--hypno1)!important;
}


.big-shaq {
    position: relative;
    width: 100%;
    z-index: 10;
    height: 100%;
    object-fit: contain;
    max-height: 60vh;
    margin: auto;
    display: flex;
}

.jc-img{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transform: translate(-5vw, -50%);
    width: 100%;
    height: 100%;
    max-height: 60vh;
    margin: auto;
    display: flex;
}


/* TIMELINE VERTICAL BAR */
.sticky-slide-timeline {
    position: fixed;
    left: 15vw;
    top: 50vh;
    transform: translate(calc(-100% - 100px), -50%);
    height: 30vh;
    width: 6px;
    z-index: 9;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}
.sticky-slide-timeline .fixe-timeline{
    height: 100%;
    width: 2px;
    left: 2px;
    /* background-color: #D8D8D8; */
    position: relative;
    border-radius: 10px;
    overflow: visible;
}
.sticky-slide-timeline .fixe-timeline .moove-timeline{
    height: 0%;
    width: 6px;
    position: relative;
    left:50%;
    /* background-color: #008082; */
    border-radius: 10px;
    transform: translate(-50%, 0);
}



/* RESPONSIVE */
/* 13 POUCES */

/* 13 POUCES */
@media (max-width: 1280px) {

}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {
    .johnny-cadillac .content-sticky-slide h3 {
        font-size: 4vh;
    }

}

@media (max-width: 992px) {
    .sticky-slide-title h2, .sticky-slide-title h3 {
        font-size: 7vw;
    }
    .johnny-cadillac .content-sticky-slide img {
        display: none;
    }
    .johnny-cadillac {
        padding-left: 30px!important;
    }
}

/* IPAD */
@media (max-width: 768px) {
    .sticky-slide[version="v1"] .johnny-cadillac {
        margin: 0 0 0 auto;
        width: 80%;
    }
    .sticky-slide-timeline {
        position: fixed;
        left: 50%;
        top: calc(100vh - 50px);
        transform: translate(calc(-50% - 0px), -50%) rotate(-90deg);
    }
    .johnny-cadillac .content-sticky-slide img {
        position: absolute;
        left: 0;
        transform: translate(calc(0% - 0px), -79px) scale(1.5);
    }
    .img-resize .jc-img {
        transform: translate(0px, 0px)!important;
    }
    .jc-img {
        top: 20vh;
    }
}

/* MOBILE */
@media (max-width: 576px) {

.johnny-cadillac .content-sticky-slide {
    transform: translate(0vh, 0vh);
}
.scroll-height .mask {
    display: none;
}
.sticky-slide[version="v1"] .johnny-cadillac {
    margin: auto;
    width: calc(100% - 30px);
}
.sticky-slide-title h2, .sticky-slide-title h3 {
    font-size: 10vw;
    margin-bottom: 20px;
}
.sticky-slide-title button{
    margin-left: 0!important;
}
.johnny-cadillac .content-sticky-slide h3 {
    font-size: 6vh;
}
}
@media (max-width: 420px) {
    .sticky-slide-title h2, .sticky-slide-title h3 {
        font-size: 14vw;
    }
}
