/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/
.wp-block-acf-block-2-columns-full-width{
    overflow: hidden;
}
.wp-block-acf-block-2-columns-full-width span.title-tag{
    display: inline-flex;
    font-family: 'Avenir Next Medium';
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
    border: 1px solid #FFFFFF;
    border-radius: 2.5px;
    padding: 2px 8px;
}
.wp-block-acf-block-2-columns-full-width .block-content{
    max-width: 480px;
    margin: 0 auto;
    padding: 10vh 0;
}
.wp-block-acf-block-2-columns-full-width .block-img{
    position: relative;
    padding-right: 0px;
}
.wp-block-acf-block-2-columns-full-width .block-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.wp-block-acf-block-2-columns-full-width .block-content h2{
    color: #FFFFFF;
    font-family: 'Avenir Next Demi';
    font-size: 36px;
    line-height: 46px;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 0px;
}
.wp-block-acf-block-2-columns-full-width .block-content h3{
    color: #FFFFFF;
    font-family: 'Avenir Next Medium';
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0px;
    margin-bottom: 30px;
}
.wp-block-acf-block-2-columns-full-width .block-content h4{
    color: #FFFFFF;
    font-family: 'Avenir Next Medium';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
}
.wp-block-acf-block-2-columns-full-width .block-content blockquote{
    font-family: 'Avenir Next';
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 2.24px;
    line-height: 44px;
}
.wp-block-acf-block-2-columns-full-width .block-content p{
    font-family: 'Avenir Next';
    font-size: 17px;
    color: #FFFFFF;
    line-height: 26px;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 0;
}
.wp-block-acf-block-2-columns-full-width .block-blockquote{
    position: absolute;
    background-color: #FFFFFF;
    bottom: 10vh;
    max-width: 420px;
    left: -5vw;
    padding: 20px;
    box-shadow: 0 2px 15px 2px rgba(0,0,0,0.12);
    border-radius: 15px;
}
.wp-block-acf-block-2-columns-full-width .block-blockquote::after{
    content: url(../../../assets/img/svg/yellow-quotes.svg);
    display: block;
    position: absolute;
    top: -40px;
    right: -40px;
    z-index: 9;
}
/* .wp-block-acf-block-2-columns-full-width .block-blockquote::before{
    content: url(../../../assets/img/svg/yellow-shape.svg);
    display: block;
    position: absolute;

} */
.wp-block-acf-block-2-columns-full-width .block-blockquote p{
    margin-bottom: 0px;
    font-family: 'Avenir Next';;
    color: #404040;
    font-size: 18px;
    letter-spacing: 0px;
}
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 992px) {
    .wp-block-acf-block-2-columns-full-width .block-blockquote {
        max-width: 320px;
        bottom: 5vh;
        left: -2vw;
    }
    .wp-block-acf-block-2-columns-full-width .block-content {
        max-width: 440px;
        padding-left: 60px;
    }
    .wp-block-acf-block-2-columns-full-width .block-content p{
        max-width: 90%;
    }
}
@media only screen and (max-width: 768px) {
    .wp-block-acf-block-2-columns-full-width .block-blockquote p {
        font-size: 16px;
        line-height: 24px;
    }
    .wp-block-acf-block-2-columns-full-width .block-blockquote {
        max-width: 240px;
        bottom: 5vh;
        left: -6vw;
    }
}
@media only screen and (max-width: 575px) {
    .wp-block-acf-block-2-columns-full-width .block-content {
        padding-left: 0px;
    }
    .wp-block-acf-block-2-columns-full-width .block-content h2 {
        font-size: 32px;
        line-height: 42px;
    }
    .wp-block-acf-block-2-columns-full-width .block-img{
        padding-left: 0px;
    }
    .wp-block-acf-block-2-columns-full-width .block-img img {
        height: 400px;
        width: 100%;
    }
    .wp-block-acf-block-2-columns-full-width .block-blockquote {
        max-width: 320px;
        left: 10vw;
        bottom: auto;
        top: 25vw;
    }
}
@media only screen and (max-width: 420px) {
    .wp-block-acf-block-2-columns-full-width .block-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .wp-block-acf-block-2-columns-full-width .block-content h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .wp-block-acf-block-2-columns-full-width .block-content h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .wp-block-acf-block-2-columns-full-width .block-content p {
        max-width: 100%;
    }
    .wp-block-acf-block-2-columns-full-width .block-content p {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
}