/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/

section.block-with-video{
    padding: 5vh 0 15vh 0;
}
.block-video-container{
    background: #FFFFFF;
    box-shadow: 0 2px 12px 0 rgba(51,51,51,0.13);
    border-radius: 25px;
    overflow: hidden;
}
.block-video-row{
    justify-content: space-between;
}
.block-video-content{
    padding: 25px;
    position: relative;
}
.block-video-content h3{
    margin-bottom: 0px;
}
.block-video-content button{
    position: absolute;
    padding: 0px;
    background: none;
    border: none;
    top: -30px;
    right: 30px;
    cursor: pointer;
}
.block-video-content button img{
    z-index: 1;
    position: relative;
}
.block-video-content button::before {
    content: "";
    position: absolute;
    top: -19px;
    left: -18px;
    z-index: 0;
    width: 100px;
    height: 100px;
    background: rgba(37,168,155,0.30);
    border-radius: 100%;
    animation: breathe infinite;
    animation-duration: 3000ms;
}
@keyframes breathe{
    0%{transform:scale(0)}
    25%{transform:scale(0.5)}
    50%{transform:scale(1)}
    75%{transform:scale(0.5)}
    100%{transform:scale(0)}

  }
.block-video-thumbnail img{
    height: 350px;
    width: 100%;
    object-fit: cover;
}

/* MODAL */
/* MODAL BUTTON */

  .modal-video::before{
      display: none!important;
  }
  .close-modal-video {
    padding: 10px;
    position: absolute;
    top: -50px;
    right: -30px;
    color: #fff;
    cursor: pointer;
    }       
  #modal-video-container-1, #modal-video-container-2, #modal-video-container-3 {
    position: fixed;
    display: table;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 999999;
  }
  #modal-video-container-1.one, #modal-video-container-2.one, #modal-video-container-3.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-video-container-1.one .modal-video-background .modal-video, #modal-video-container-2.one .modal-video-background .modal-video, #modal-video-container-3.one .modal-video-background .modal-video {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-video-container-1.one.out, #modal-video-container-2.one.out, #modal-video-container-3.one.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-video-container-1.one.out .modal-video-background .modal-video, #modal-video-container-2.one.out .modal-video-background .modal-video, #modal-video-container-3.one.out .modal-video-background .modal-video {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  
  #modal-video-container-1 .modal-video-background, #modal-video-container-2 .modal-video-background, #modal-video-container-3 .modal-video-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }
  #modal-video-container-1 .modal-video-background .modal-video, #modal-video-container-2 .modal-video-background .modal-video, #modal-video-container-3 .modal-video-background .modal-video {
    display: inline-block;
    border-radius: 20px;
    font-weight: 300;
    position: relative;
  }

  #modal-video-container-1 .modal-video-background .modal-video .modal-svg, #modal-video-container-2 .modal-video-background .modal-video .modal-svg, #modal-video-container-3 .modal-video-background .modal-video .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }
  #modal-video-container-1 .modal-video-background .modal-video .modal-svg rect, #modal-video-container-2 .modal-video-background .modal-video .modal-svg rect, #modal-video-container-3 .modal-video-background .modal-video .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
  }
  video {
    max-width: 90vw;
}
/* END MODAL */

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
    .block-video-row{
        justify-content: center;
    }
}
@media only screen and (max-width: 768px) {
    .block-video-container {
        margin-top: 30px;
    }
    .block-video-thumbnail img {
        height: 304px;
    }
}
@media only screen and (max-width: 576px) {
    .close-modal-video {
        right: -10px;
    }
}