.vertical-bar{
    position: relative;
}

.vertical-bar .fixed{
    display: block;
    background-color: rgb(var(--grey2));
    width: 1px;
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    z-index: 2;
    opacity: .3;
}

.vertical-bar .animed{
    transform: scaleY(0);
    width: 4px;
    background-color: var(--hypno1);
    display: block;
    position: absolute;
    left: calc(50% - 1.5px);
    top: 0;
    height: 100%;
    z-index: 3;
    transform-origin: top center;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
 
  
}