
  /*                    SLIDER
  ************************************************/
.slider{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: initial;
    z-index: 100;
}
.slider video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider h1, .slider h2, .slider h3, .slider p{
  color: #FFF;
  text-transform: none;
}
.name{
  font-size: 7vh;
  font-family: 'Charter';
}
.title{
  font-size: 2.3vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.slider-text{
  width: 60%;
}
.slider img,
#slider video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.slider-content {
  width: 70vw;
  position: absolute;
  left: 15vw;
  top: 0;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  max-height: 100vh;
  padding: 6.5em 3em;
  justify-content: space-between;
}
.slider-btn{
  color: #FFF;
  position: relative;
  text-decoration: none;
  font-size: 1.5em;
}
.slider-btn:hover{
  color: #FFF;
  text-decoration: none;
}
.slider-btn:before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #FFF;
  transition: transform .3s ease;
  transform-origin: right;
  transform: scaleX(0);
}
.slider-btn:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}
.slider-prev-arrow g,
.slider-next-arrow g{
    fill: #FFF;
}
.slider-prev-arrow,
.slider-next-arrow{
    cursor: pointer;
    position: absolute;
    z-index: 5;
    width: 45px;
    height: 45px;
    top: 50%;
}
.slider-prev-arrow{
    transform-origin: center;
    transform: rotate(180deg);
    left: 5vw;
}
.slider-next-arrow{
    right: 5vw;
}

#slider-dots{
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
}
.slider-dots{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slider-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
  position: relative;
}
.slider-dots li button:before{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transform-origin: center;
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  border: 1px solid transparent;
  transition: .3s ease;
}
.slider-dots li.slick-active button:before{
  height: 12.5px;
  width: 12.5px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}
.slider-container{
  height: 100%;
}
.main-slider{
  height: 100%;
}
  /** ARROWS **/
  .arrows {
    height: 50px;
    width: 50px;
    position: relative;
    left: 0;
    top: 40px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 2;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
    .arrows svg{
    position: relative;
    }
    .arrows svg:nth-child(2){
    top: 3px;
    }
    .arrows svg:nth-child(3){
    top: 6px;
    }
    .arrows svg:nth-child(4){
        top: 9px;
    }
    .arrows svg > path{
    animation: jumNext 1.8s ease infinite;
    opacity: 0;
    }
    .arrows svg > path{
    fill: #FFF;
    }
    .arrows svg:nth-child(2) > path{
    animation-: 0.2s;
    }
    .arrows svg:nth-child(3) > path{
    animation-delay: 0.3s;
    }
    .arrows svg:nth-child(4) > path{
    animation-delay: 0.4s;
    }
    @keyframes jumNext {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    }


    /*************************************************
    *                 RESPONSIVE                     *
    **************************************************/
  
/* 13 POUCES */
@media (max-width: 1280px) {

}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {

}

/* MOBILE */
@media (max-width: 576px) {
  .slider-content {
    width: 100vw;
    left: 0vw;
    padding: 2em;
    justify-content: center;
  }
  .main-slider-bkg {
    height: 100vh!important;
  }
  .slider-next-arrow,
  .slider-prev-arrow{
    display: none;
  }
  .slider-text{
    width: 100%;
  }
}