/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/
.wp-block-acf-block-form > div{
    padding: 20vh 0;
}
.wp-block-acf-block-form .row-reverse{
    flex-direction: row-reverse;
}
.wp-block-acf-presta-top-page {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.block-form-title-col h1{
    font-weight: 700;
    font-size: 4vw;
    color: #333333;
    line-height: 80px;
    font-family: 'Avenir Next Bold';
    margin-bottom: 60px;
}
.block-form-title-col h1 span{
    color: var(--hypno1);
    text-transform: lowercase;
}
.block-form-form p{
    font-family: 'Avenir Next';
    font-size: 20px;
    color: #333333;
    letter-spacing: 0;
}
.block-form-form form{
    min-width: 450px;
    max-width: 550px;
}
.block-form-form form input{
    background: #FFFFFF;
    box-shadow: 0 1px 20px 2px rgba(144,144,144,0.11);
    -webkit-box-shadow: 0 1px 20px 2px rgba(144,144,144,0.11);
    -webkit-appearance: none;
    border-radius: 5px;
    height: 44px;
    border: none;
    margin-bottom: 15px;
    font-family: 'Avenir Next';
    font-size: 16px;
    letter-spacing: 0;
    padding: 10px 15px;
    color: #909090;
    width: 100%;
}
.block-form-form form .row-input span:first-of-type input{
    width: calc(100% - 15px);
}
.block-form-form form textarea{
    background: #FFFFFF;
    box-shadow: 0 1px 20px 2px rgba(144,144,144,0.11);
    -webkit-box-shadow: 0 1px 20px 2px rgba(144,144,144,0.11);
    -webkit-appearance: none;
    border-radius: 5px;
    height: 130px;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Avenir Next';
}
.block-form-form form input[type="submit"]{
    background: #008082;
    border-radius: 80px;
    margin-top: 15px;
    box-shadow: 0 1px 20px 2px rgba(144,144,144,0.11);
    -webkit-box-shadow: 0 1px 20px 2px rgba(144,144,144,0.11);
    -webkit-appearance: none;
    color: #FFFFFF;
}
.block-form-right-box-content{
    background: #FFFFFF;
    box-shadow: 0 2px 15px 2px rgba(51,51,51,0.12);
    border-radius: 10px;
    padding: 40px 30px;
}
.block-form-right-box-content h3{
    font-family: 'Avenir Next Demi';
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 10px;
}
.block-form-right-box-content p{
    font-family: 'Avenir Next';
    font-size: 17px;
    color: #000000;
    letter-spacing: 0;
    line-height: 24px;
}
.block-form-right-baseline{
    margin-top: 30px;
    font-family: 'Avenir Next Medium';
    font-size: 16px;
    color: #333333;
    letter-spacing: 3px;
    line-height: 24px;
    text-transform: uppercase;
    padding-left: 20px;
}
.block-form-right-col > div:first-of-type{
    position: absolute;
    bottom: -150px;
}
.block-form-right-col{
    transform: translateY(-80px);
}


/* RESPONSIVE  */
@media only screen and (min-width: 1920px) {
    .block-form-title-col h1 {
        font-size: 80px;
    }
}
@media only screen and (min-width: 1200px) {
    .block-form-form{
        max-width: 58%!important;
    }
}
@media only screen and (max-width: 1440px) {
    .block-form-form form {
        max-width: 480px;
    }
}
@media only screen and (max-width: 992px) {
    .block-form-form form {
        max-width: 100%;
    }
    .block-form-title-col h1 {
        font-size: 6vh;
    }
    .block-form-form form .row-input span:first-of-type{
        width: 50%;
    }
    .block-form-form form .row-input span:first-of-type input{
        width: 100%;
    }
    .block-form-right-col {
        transform: translateY(0px);
        display: flex;
    }
    .block-form-right-col > img{
        display: block;
        width: 50%;
    }
    .block-form-right-col > div:first-of-type{
        position: relative;
    }
    .wp-block-acf-block-form > div {
        padding: 20vh 0 10vh;
    }
}
@media only screen and (max-width: 768px) {
    .block-form-form form .row-input span:first-of-type input {
        width: 90%;
    }
}
@media only screen and (max-width: 575px) {
    .block-form-form form .row-input span:first-of-type {
        width: 80%;
    }
    .block-form-title-col h1 {
        margin-bottom: 40px;
    }
    .block-form-right-col > img {
        object-fit: contain;
    }
    .block-form-right-col > div:first-of-type {
        position: absolute;
        width: 50%;
        right: 30px;
        top: -20px;
    }
    .block-form-form form {
        min-width: auto;
    }
    .block-form-right-baseline{
        display: none;
    }
}
@media only screen and (max-width: 420px) {
    .block-form-right-col > div:first-of-type {
        position: absolute;
        width: calc(100% - 60px);
    }
    .block-form-title-col h1 {
        font-size: 12vw;
        line-height: normal;
    }
    .wp-block-acf-block-form > div {
        padding: 15vh 0 10vh;
    }
    .block-form-form p {
        font-family: 'Avenir Next';
        font-size: 16px;
    }
}   
@media only screen and (max-width: 380px) {

}