.fancybox__container{
  z-index: 99999!important;
}
.wp-block-image, figure {
    margin-bottom: 0!important;
		width: 100%;
}
.wp-block-image .aligncenter {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}
/* BKG COLOR */
.has-green1-background-color{background-color: #008082;}
.has-green2-background-color{background-color: #25A89B;}
.has-green3-background-color{background-color: #7BC4B2;}
.has-grey-background-color{background-color: #f3f3f3;}
.has-grey2-background-color{background-color: #909090;}
.has-yellow-background-color{background-color: #DAFF01;}

/* COLOR */
.has-green1-color{color: #008082!important;}
.has-green2-color{color: #25A89B!important;}
.has-green3-color{color: #7BC4B2!important;}
.has-grey-color{color: #f3f3f3!important;}
.has-grey2-color{color: #909090!important;}
.has-yellow-color{color: #DAFF01!important;}


/* FONT SIZE STYLE */
h2{
  font-size: 36px;
  font-family: 'Avenir Next Demi';
  line-height: 46px;
  letter-spacing: 0;
}
h3{
  font-size: 24px;
  line-height: 34px;
  font-family: 'Avenir Next Demi';
  letter-spacing: 0;
}

/* **************** */
/* BTN CUSTOM STYLE */
/* light  */
.is-style-light-link a,
.is-style-light-link > span {
  padding: 0.5em 2em 0.5em 0em;
  transition: all .3s;
  position: relative;
  background-color: transparent;
  border-radius: 0;
  color: rgb(var(--dark2));
  display: inline-flex;
  text-decoration: none;
  text-transform: initial;
  font-weight: 300;
  font-size: 16px!important;
}
.is-style-light-link a::before,
.is-style-light-link > span::before {
  content: '\203A';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  transition: transform .3s;
  font-size: 1.5em;
}
.is-style-light-link a:hover::before,
.is-style-light-link > span:hover::before,
.grid-section-container > div:hover .wp-block-button__link::before {
  transform: translate(-60%, -50%);
}

/* **************** */
/* COLUMNS STYLE */
.is-style-columns-link{
  min-height: 25vh;
}
.is-style-columns-link .wp-block-column{
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 3rem 1.5rem;
}
.is-style-columns-link .wp-block-column p{
  margin: auto 0;
}
.is-style-columns-link .wp-block-column:not(:first-child),
.is-style-container-half-right .wp-block-column:not(:first-child),
.is-style-container-half-left .wp-block-column:not(:first-child) {
    margin-left: 0em;
}



/* **************** */
/* CONTAINER STYLE */
/* SMALL */
.is-style-container-small{
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
}

/* Classic gutenberg-group */
.wp-block-group.is-style-default{
  overflow: hidden;
}
/* Classic Container bottstrap */
.is-style-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* BANNIERE */
.is-style-cover-3disc {
  padding: 5em;
}
.is-style-cover-3disc h2,
.is-style-cover-3disc h3{
  font-size: 30px;
  font-weight: 400;
}
.is-style-cover-3disc:before {
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}
.is-style-cover-3disc:hover:before {
  opacity: 0.8!important;
}

/* QUOTE */
blockquote.wp-block-quote {
  padding-left: 30px;
  border-left: 3px solid rgb(var(--orange));
  margin-left: 5px;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 18px;
  font-style: italic;
}

/* LISTE */
.hentry ul,
.entry-content ul{
  border: none!important;
  border-radius: none!important;
  margin-left: 0!important;
  padding-left: 30px!important;
}
/**
*     FAQ
*/
ol.schema-how-to-steps {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
ol.schema-how-to-steps>li {
  margin:0;
  padding:0 0 0 2em;
  list-style-type:none;
  counter-increment:item;
}
ol.schema-how-to-steps>li:before {
    display: inline-block;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: "ETAPE | " counter(item) ".";
}
ol.schema-how-to-steps {
    margin: 0;
    padding: 0px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
}
ol.schema-how-to-steps li{
  padding: 15px;
}
ol.schema-how-to-steps li:nth-child(even) {
    background: #f5f5f5;
}
.schema-how-to-description {
    font-weight: 900;
    color: #e73f72;
    font-size: 20px;
    margin-top: 30px;
}
.schema-faq{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: transparent;
  color: var(--grey);
  border-radius: 0px;
  cursor: pointer;
}
.schema-faq-section {
    width: 100%;
}
.schema-faq-question {
    display: flex;
    width: 100%;
    padding: 1em 0;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0px;
    border-top: 1px solid rgb(var(--grey));
    z-index: 9;
    left: 50%;
    top: 50%;
    font-size: 1em!important;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.single .schema-faq-question  {
    font-size: 16px!important;
    align-items: center;
}
.schema-faq-question:after {
    content: "+";
    display: inline-flex;
    font-weight: 300;
    font-size: 28px;
    line-height: 22px;
    margin-right: 0;
    margin-left: auto;
    color: rgb(var(--orange));
}
.schema-faq-answer {
    padding: 1em;
    display: none;
    overflow: hidden;
}

.faq-light .schema-faq-question{
  border-radius: 15px;
  opacity: .6;
}

.faq-light .schema-faq-question:before{
  font-weight: 400;
}

.mx--1{
  margin: 0 -15px;
}



@media (min-width: 576px){
.is-style-container,
.container {
    max-width: 540px!important;
}
.is-style-container-small {
  max-width: 750px;
  margin: auto;
}
.is-style-container-half-left .wp-block-column:last-of-type {
  padding: 2rem calc(3vw + 15px) 2rem 2em;
}

}
@media (min-width: 768px){
.is-style-container,
.container {
  width: calc(100% - 30px)!important;
  max-width: none!important;
}
}
@media (min-width: 992px){
.is-style-container,
.container {
  max-width: 960px!important;
}
}
@media (min-width: 1024px){
.is-style-container,
.container {
  max-width: 990px!important;
}
.is-style-container-half-left .wp-block-column:last-of-type {
  padding: 5rem calc(5vw + 15px) 5rem 5em;
}
}
@media (min-width: 1200px){
.is-style-container, .container {
  max-width: 80vw!important;
}
.is-style-container-half-left .wp-block-column:last-of-type {
  padding: 5rem calc(15vw + 15px) 5rem 5em;
}
}
@media (min-width: 1600px){
.is-style-container, .container{
  max-width: 1440px!important;
}
}



/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/


/* RESPONSIVE */
/* 13 POUCES */

/* 13 POUCES */
@media (max-width: 1280px) {

}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


}

@media only screen and (max-width: 992px) {
  .wp-block-acf-block-2-columns .block-content h2 {
      font-size: 28px;
      line-height: 38px;
  }
}

/* IPAD */
@media (max-width: 768px) {

}

/* MOBILE */
@media (max-width: 576px) {

  .is-style-container-small{
    max-width: 100vw;
    padding: 0 15px;
  }

  .has-big-font-size {
    font-size: 2.8rem!important;
}

  .has-bigtext-font-size{
    font-size: 1.3rem;
  }

  .is-style-container-half-right .wp-block-column:first-of-type,
  .is-style-container-half-left .wp-block-column:last-of-type  {
    padding: 0 15px;
    max-width: 100%;
  }

  .is-style-3disc-link a{
    padding: 1em 2em;
    margin: 0 1em;
  }

  .wp-block-group{
    text-align: center;
  }

  .wp-block-buttons{
    justify-content: center;
  }

  /* .wp-block-cover-image img.wp-block-cover__image-background,
  .wp-block-cover-image video.wp-block-cover__video-background,
  .wp-block-cover img.wp-block-cover__image-background,
  .wp-block-cover video.wp-block-cover__video-background {
    position: initial;
  } */
  .is-style-cover-3disc {
    padding: 1em;
  }

  .is-style-container-half-left .img-br-right,
  .is-style-container-half-right .img-br-left{
    border-radius: 0;
  }

  .wp-block-query ul{
    padding : 0!important;
  }

}
