/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/
header#masthead{
    position: relative;
    z-index: 99999;
}

body .header-desktop{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-bottom: solid 1px rgba(210,210,210,0);
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 99999;
    background-color: rgba(255,255,255,0);
}
body.header-fixed .header-desktop{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: solid 1px rgba(210,210,210,0.4);
    background-color: rgba(255,255,255,0.9);
    max-height: 76px;
}
.header-items-container ul{
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
}
ul#menu-header-top, ul#menu-header-top-espagnol{
    margin: 0;
    padding-left: 0;
}
.header-items-container ul li{
    list-style-type: none;
    margin-left: 10px;
}
.header-desktop {
    position: fixed;
    padding-top: 30px;
}
.header-desktop a{
    font-family: 'Avenir Next';
    font-size: 16px!important;
    color: #333333;
    text-align: center;
    letter-spacing: 0;
    text-decoration: none;
    padding: 15px 0px;
    display: block;
}
.header-desktop a:hover{
    color: #333333;
}

.header-items-container ul li a:hover{
    text-decoration: none;
}
.header-items-container ul li{
    position: relative;
    /* padding: 15px 30px 10px 30px; */
}
.header-items-container ul li.trigger-submenu > a::after{
    content: url(../img/svg/arrow-black.svg);
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
    transform-origin: 50% 50%;
}
.header-items-container .trigger-submenu.expand-submenu > a::after{
    transform: rotateZ(180deg);
}
.header-items-container ul li.trigger-submenu > a:first-child{
    display: block;
    padding: 15px 20px; 
    text-align: left;
}
.header-items-container ul li.trigger-submenu.expand-submenu > a:first-child{
    background-color: #F3F3F3;
}
.header-items-container .trigger-submenu{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: fit-content;
    overflow: hidden;
    height: 50px;
}
.header-items-container .trigger-submenu.expand-submenu{
    background: #FFFFFF;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.07);
}
.header-items-container .trigger-submenu.expand-submenu{
    height: fit-content;
    height: -moz-fit-content;
    -moz-height: fit-content
}
.header-items-container ul li > ul{
    /* height: 0; */
    /* overflow-y: hidden; */
    /* position: absolute;
    left: 0;
    top: 0; */
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0px;
    padding: 0px 0px 0 0px;
}
.header-items-container ul li > ul li{
    list-style-type: none;
    transition: height 1s ease;
    margin-left: 20px;
    margin-right: 20px;
}
.header-items-container ul li > ul li a{
    display: block;
    list-style-type: none;
    width: max-content;
    margin-left: 0px !important;
    padding: 10px 0px;
    transition: height 1s ease 0s;
    border-bottom: 1px solid rgb(239, 239, 239);
    text-align: left;
    max-width: 110px;
}
.header-items-container ul li.trigger-submenu ul li:last-of-type a{
    border-bottom: 0px;
}
.header-items-container ul li.trigger-submenu ul.expand-submenu{
    height: auto;
}
header .btn-demo{
    margin-left: 20px;
}
/* WPML CUSTOM MENU */

.dropdown-lang{
    position: absolute;
    right: -30px;
    padding-left: 0px;
    width: auto;
    margin-left: 0px;
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 7%);
    border-radius: 15px;
    padding: 4px!important;
    overflow: hidden;
    height: 32px;
}
.site-header-mobile .dropdown-lang{
    right: 0;
    margin-top: 0;
}
.dropdown-lang.expand-submenu{
    height: fit-content;
    height: -moz-fit-content;
    -moz-height: fit-content;
}
.dropdown-lang ul{
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.dropdown-lang li{
    list-style-type: none;
}
.dropdown-lang li a{
    padding: 0px;
    display: flex;
    align-items: center;
}
.dropdown-lang li:first-of-type a{
    margin-top: 0px;
    margin-bottom: 10px;
}

.dropdown-lang ul li ul a:last-of-type{
    margin-bottom: 0px;
}
.dropdown-lang ul li ul.sub-menu li:first-of-type {
    margin-bottom: 10px;
}

/*****************/
/*
/*
/* HEADER MOBILE */
.site-header-mobile{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    position: fixed;
    top: 0px;
    padding: 30px 0px;
}
body.header-fixed .site-header-mobile{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: solid 1px rgba(210,210,210,0.4);
    background-color: rgba(255,255,255,0.9);
    max-height: 76px;
}
header.mobile-open .header-mobile-items-container{
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    padding-right: 20px;
}
.header-mobile-items-container{
    display: none;
    background-color: var(--hypno1);
    position: fixed;
    z-index: 1000;
    box-shadow: 6px 0 6px -3px rgba(77, 77, 77, 0.16);
    max-width: 100%;
    -moz-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    height: 100vh;
    width: auto;
    top: 0;
    left: 0;
}
.header-mobile-items-container ul{
    margin: 0;
    padding: 30px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-mobile-items-container ul li{
    list-style-type: none;
    padding: 12px 0px;
    border-bottom: solid 1px rgba(255,255,255,0.2);
    transition: height 1s ease;
}

.site-header-mobile-close {
    position: absolute;
    right: 25px;
    top: 20px;
}
.header-mobile-items-container ul li a:focus{
    text-decoration: none;
}
.header-mobile-items-container ul li a{
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Avenir Next';
    letter-spacing: 0;
}
.site-header-mobile .site-header-mobile-toggle {
    width: 18px;
    height: 16px;
    align-items: center;
    transition: none;
    vertical-align: middle;
    position: relative;
}

.site-header-mobile .site-header-mobile-toggle span {
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    content: " ";
    left: 0;
    background: #333333;
}

.site-header-mobile .site-header-mobile-toggle span:nth-child(1) {
    top: 10px;
    transform-origin: 0 0;
}

.site-header-mobile .site-header-mobile-toggle span:nth-child(2) {
    top: 15px;
    -moz-transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
    -o-transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
    -webkit-transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
    transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.site-header-mobile .site-header-mobile-toggle span:nth-child(2) {
    top: 20px;
    -moz-transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
    -o-transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
    -webkit-transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
    transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.header-mobile-logo{
    padding-left: 40px;
    margin-top: 80px;
}
.header-mobile-social {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.header-mobile-items-container ul li ul{
    padding: 0px;
    height: 0;
    overflow: hidden;
}
.header-mobile-items-container button{
    margin-left: 30px!important;
}
.header-mobile-items-container ul li ul.expand-submenu{
    padding: 10px 0px 0px 0px;
    height: auto;
}
.header-mobile-items-container ul li ul li{
    padding-left: 15px;
    /* background-color: var(--hypno2);
    border-bottom: solid 1px var(--hypno1); */
}
.header-mobile-items-container ul li ul li:last-of-type{
    border-bottom: none;
}
.trigger-submenu-mobile{
    position: relative;
}
.trigger-submenu-mobile::after{
    content: url(../img/svg/arrow-white.svg);
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
}
.trigger-submenu-mobile.expand-submenu::after{
    transform: rotateZ(180deg);
}
.header-mobile-items-container .btn-demo, .header-mobile-items-container .btn-header-sidebar{
    margin-top: 20px;
    margin-left: 20px;
}
.header-mobile-items-container .btn-header-sidebar a{
    color: #444444!important;
}
/* FORM  */
.modal form{
    max-width: 420px;
}
.modal input.wpcf7-form-control.wpcf7-submit.contact-submit {
    background-color: var(--hypno1);
    border-radius: 30px;
    font-family: 'Avenir Next Demi';
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #FFFFFF!important;
    letter-spacing: 0;
    text-align: center;
    padding: 12px 30px;
    display: block;
    width: 100%;
    margin-top: 10px;
}
.modal input{
    width: 100%;
    height: 40px;
    padding: 3px 10px;
    font-size: 15px;
    margin: 5px 0px;
    font-family: 'Avenir Next';
    -webkit-appearance: none;
}
.modal textarea{
    width: 100%;
    min-height: 100px;
    padding: 3px 10px;
    font-size: 15px;
    margin: 5px 0px;
    font-family: 'Avenir Next';
    -webkit-appearance: none;
}
/**************/
/*
/*
RESSOURCES
/*
/*
/**************/
.blog-ressources-container{
    background-size: contain;
}
.ressources-title-row{
    justify-content: center;
    padding: 20vh 0 80px;
}
body.search.search-results .ressources-title-row{
    padding: 20vh 0 80px;
    border-bottom: solid 1px #E0E3EF;
}
.ressources-forward-row{
    padding: 50px 0;
    border-top: solid 1px #E0E3EF;
    border-bottom: solid 1px #E0E3EF;
}
.ressources-title-content{
    font-family: 'Avenir Next';
    font-size: 16px;
    color: #7D86A9;
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;
}
.ressources-title-row h1{
    font-family: 'Avenir Next Bold';
    font-size: 4.5vw;
    color: #333333;
    text-align: center;
}
.ressources-main-row{
    justify-content: space-between;
    padding: 40px 0 15vh;
    border-top: solid 1px #E0E3EF;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position-x: center;
}
.ressources-row-forward{
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 0;
    border-top: solid 1px rgba(224,227,239, 0.4);
    border-bottom: solid 1px rgba(224,227,239, 0.4);
}
.ressources-row-forward h4{
    font-family: 'Avenir Next Medium';
    font-size: 18px;
    color: #333333;
    line-height: 26px;
    margin-bottom: 30px;
}
.col-ressources-post{
    flex: 0 0 30%;
    max-width: 30%;
}
.ressources-forward-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.col-ressources-side .post-content-side, .col-ressources-post-forward .post-content-forward{
    display: flex;
    margin-top: 15px;
    align-items: center;
}
.post-content-side-img{
    margin-right: 15px;
}
.col-ressources-side .post-content-side h3{
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
}
.col-ressources-side .post-content-side span.read-more-span{
    font-size: 14px;
}
.col-ressources-side .post-content-side .read-more-span::after {
    content: url(../../assets/img/svg/icon-arrow.svg);
    display: block;
    position: absolute;
    top: 0;
    left: 105px;
}
.col-ressources-side .content-post-thumbnail{
    width: auto;
    overflow: hidden;
    box-shadow: 0 6px 29px 0 rgba(0,0,0,0.15);
    border-radius: 15px;
}
.col-ressources-side .content-post-thumbnail img{
    min-width: 100px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.label-post-forward{
    background: #00AB9B;
    border-radius: 5.63px;
    font-family: 'Avenir Next Demi';
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding: 8px 20px;
    position: absolute;
    left: -20px;
    top: -10px;
    z-index: 999;
}
.post-content-forward h3{
    font-size: 28px;
    line-height: 36px;
    margin: 15px 0 30px;
}
.post-content-forward p{
    font-family: 'Avenir Next';
    font-size: 17px;
    color: #333333;
    letter-spacing: 0;
    line-height: 25px;
    max-width: 90%;
}
.post-content-forward span.content-post-cat {
    font-family: 'Avenir Next Medium';
    font-size: 14px;
    padding: 4px 10px;
}
.post-content-forward-img .content-post-thumbnail, .post-content-side-img .content-post-thumbnail:last-of-type{
    margin-bottom: 0px;
}
.post-content-forward-img{
    width: 45%;
    min-width: 45%;
    margin-right: 30px;
}
.col-ressources-post-forward .content-post-thumbnail img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.ressources-main-row .entry-content img.attachment-post-thumbnail, .ressources-row-forward .entry-content img.attachment-post-thumbnail{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.ressources-main-row .entry-content:hover img.attachment-post-thumbnail, .ressources-row-forward .entry-content:hover img.attachment-post-thumbnail{
    transform: scale(1.15);
}
.ressources-main-row .entry-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.post-author-row{
    align-items: center;
}
.ressources-main-row .entry-content h3{
    font-family: 'Avenir Next Demi';
    font-size: 22px;
    color: #333333;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: 10px;
}
.ressources-main-row .entry-content p{
    color: #333333;
}
.ressources-main-row article a:hover, .ressources-row-forward article a:hover{
    text-decoration: none!important;
}
.ressources-main-row article a:hover h3, .ressources-row-forward article a:hover h3{
    color: #000000;
}
.content-post-thumbnail{
    overflow: hidden;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.20);
    border-radius: 20px;
    margin-bottom: 20px;
}
span.content-post-cat{
    border: 1px solid #25A89B;
    border-radius: 2.52px;
    font-family: 'Avenir Next Medium';
    font-size: 12px;
    color: #25A89B;
    margin-left: auto;
    letter-spacing: 0;
    padding: 2px 6px;
}
span.content-post-author{
    font-family: 'Avenir Next';
    font-size: 15px;
    color: #333333;
    display: block;
    letter-spacing: 0;
    margin-left: 10px;
}
.content-post-thumbnail img{
    height: 220px;
    object-fit: cover;
}
.read-more-span{
    font-family: 'Avenir Next Demi';
    font-size: 17px;
    color: #25A89B;
    letter-spacing: 0;
    position: relative;
}
.read-more-span::after{
    content: url(../../assets/img/svg/icon-arrow.svg);
    display: block;
    position: absolute;
    top: 0;
    left: 120px;
}
.ressources-cat-filter-row{
    display: flex;
    flex-direction: column;
    padding: 40px 0 40px;
}
.ressources-cat-filter-row > h4{
    font-family: 'Avenir Next Medium';
    font-size: 18px;
    color: #333333;
    line-height: 48px;
}
.ressources-cat-filter{
    background: #FFFFFF;
    border: 1px solid #F0F8F7;
    box-shadow: 0 12px 29px 0 rgba(123,196,178,0.15);
    border-radius: 40px;
    padding: 15px 40px;
    margin: 0 5px;
}
.ressources-cat-filter:first-of-type{
    margin-left: 0px;
}
.ressources-cat-filter h4{
    font-family: 'Avenir Next';
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;   
    margin-bottom: 0px; 
}
.ressources-cat-all{
    background: #25A89B;
    box-shadow: 0 9px 30px 0 rgba(37,168,155,0.25);
    border-radius: 40px;
    color: #FFFFFF;
    padding: 15px 40px;
}
.ressources-cat-all a{
    font-family: 'Avenir Next Demi';
    font-size: 17px;
    color: #FAFAFA;
    letter-spacing: 0;
    text-align: center;
}
.ressources-searchbar{
    display: flex;
    justify-content: center;
    position: relative;
}
.ressources-searchbar form{
    position: relative;
}
.ressources-searchbar input{
    background: #FFFFFF;
    box-shadow: 0 2px 70px 0 rgba(0,0,0,0.14);
    border-radius: 25px;
    height: 50px;
    padding: 0px 40px;
    border: none;
    min-width: 350px;
    width: 100%;
}
.ressources-searchbar input#searchsubmit{
    background: rgba(255,255,255,0.2);
    padding: 0;
    min-width: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    z-index: 9;
}
.ressources-searchbar img{
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 8;
}
/* SINGLE */

body.single-post .menu-header-top-container ul li a{
    color: #FFFFFF;
}
body.single-post .menu-header-top-container li.trigger-submenu:hover a{
    color: #333333;
}
body.single-post.header-fixed .menu-header-top-container ul li a{
    color: #333333;
}
body.single-post .menu-header-top-container ul li ul li a{
    color: #333333;
}
body.single-post h1{
    font-size: 4.5vw;
    color: #333333;
    font-family: 'Avenir Next Bold';
    letter-spacing: 0;
    line-height: 1.25;
    margin-top: 15px;
}
body.single-post .single-post-content span.content-post-cat {
    font-size: 15px;
    padding: 5px 15px;
}
.single-top-bkg{
    height: 35vh;
    background-position: center!important;
}
.single-post-content, body.single-post aside{
    padding: 10vh 0;
}
body.single-post aside h4 {
    margin-bottom: 20px;
    font-family: 'Avenir Next Demi';
    letter-spacing: 0;
    font-size: 18px;
}
body.single-post aside a span{
    font-family: 'Avenir Next Medium';
    text-align: center;
}
body.single-post aside .ressources-cat-filter, body.single-post aside .ressources-cat-all{
    margin: 5px 0px;
    text-align: center;
    letter-spacing: 0;
}
body.single-post .row-share-post {
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
}
.row-author-post-date{
    margin: 0 0 50px 0;
}
body.single-post .row-share-post a img {
    width: 30px;
    margin: 0 10px;
}

body.single-post .recent-posts {
    margin-top: 80px;
    margin-bottom: 50px;
}
body.single-post .recent-posts .col-ressources-side .content-post-thumbnail img {
    min-width: 90px;
    width: 90px;
}
body.single-post .recent-posts .col-ressources-side .post-content-side{
    margin-top: 30px;
}
body.single-post .recent-posts h4{
    margin-bottom: 0px;
}
body.single-post .single-post-content h2, body.single-post .single-post-content h3{
    margin: 40px 0;
}
body.single-post .single-post-content h4{
    margin: 20px 0;
}
.single-post-content p{
    font-size: 18px;
    font-family: 'Avenir Next';
    letter-spacing: 0;
    line-height: 28px;
}
body.single-post .tmplt-blog-category{
    flex-direction: column;
    margin-bottom: 50px;
}
/**************/
/*
/*
/**** MAIN ****/

main#primary{
    min-height: 50vh;
}

/*******************/
/*
/*
/****** FOOTER ******/
footer#colophon{
    position: relative;
    z-index: 9999;
}

/* subfooter */
footer .prefooter{
    padding: 40px 0;
    background-color: #00686A;
    border-bottom: solid 7px var(--hypno2);
}
footer .main-footer{
    padding: 40px 0 60px;
    background-color: var(--hypno1);
}
footer .main-footer h3{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 17px;
    font-family: 'Avenir Next Demi';
    margin-bottom: 15px;
    margin-top: 20px;
}
footer .main-footer ul{
    padding: 0px;
    margin: 0;
}
footer .main-footer ul li{
    list-style-type: none;
    padding: 10px 0px;
}
footer .main-footer ul li a{
    font-family: 'Avenir Next';
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
}
footer .subfooter{
    padding: 15px 0px;
    font-size: 12px;
    font-family: 'Avenir Next';
    letter-spacing: 0;
    color: #FFFFFF;
    margin: 0;
    background-color: #00686A;
}
.footer-social{
    margin-top: 80px;
}
.footer-social img{
    margin-right: 25px;
}
.footer-partners img{
    height: 100px;
}
/* MODAL BUTTON */

html.modal-active, body.modal-active {
    overflow: hidden;
  }
  .modal::before{
      display: none!important;
  }
  .close-modal {
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}       
  #modal-container {
    position: fixed;
    display: table;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 999999;
  }
  #modal-container.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one .modal-background .modal {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one.out .modal-background .modal {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  
  #modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }
  #modal-container .modal-background .modal {
    background: white;
    padding: 60px 80px 10px;
    display: inline-block;
    border-radius: 20px;
    font-weight: 300;
    position: relative;
  }
  #modal-container .modal-background .modal h2 {
    font-size: 32px;
    line-height:44px;
    font-family: 'Avenir Next';
    margin-bottom: 30px;
  }
  #modal-container .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
  }
  #modal-container .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }
  #modal-container .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
  }
  
  .content {
    min-height: 100%;
    height: 100%;
    background: white;
    position: relative;
    z-index: 0;
  }
  .content h1 {
    padding: 75px 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }
  .content .buttons {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .content .buttons .button {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    margin: 10px;
    background: red;
    font-size: 18px;
    background-color: #efefef;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .content .buttons .button:hover {
    color: white;
    background: #009bd5;
  }
  
  @keyframes unfoldIn {
    0% {
      transform: scaleY(0.005) scaleX(0);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(1) scaleX(1);
    }
  }
  @keyframes unfoldOut {
    0% {
      transform: scaleY(1) scaleX(1);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(0.005) scaleX(0);
    }
  }
  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  

/* MODAL BUTTON */


/* RESPONSIVE */

@media only screen and (min-width: 1920px) {
    body.single-post h1, .ressources-title-row h1{
        font-size: 80px;
        line-height: 1.2;
    }
}
@media only screen and (max-width: 1280px) {
    .header-items-container ul li.trigger-submenu > a:first-child {
        display: block;
        padding: 15px 10px;
    }
    .header-items-container ul li.trigger-submenu > a::after {
        right: 25px;
    }
    .header-redirect{
        display: none!important;
    }
}
@media only screen and (max-width: 1024px) {
    .header-items-container ul li {
        margin-left: 0px;
    }
   
    header .btn-demo{
        margin-left: 10px;
    }
}
@media only screen and (max-width: 992px) {
    .header-mobile-items-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-fourth-col{
        display: flex;
        justify-content: space-between;
    }
    /* SINGLE RESSOURCES  */
    body.single-post .ressources-forward-aside, body.single-post .tmplt-blog-category{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: auto;
        justify-content: flex-start;
        padding: 0px 0 35px 0px;
    }
    body.single-post .tmplt-blog-category{
        margin-bottom: 0px!important;
    }
    .single-post-content{
        padding-bottom: 0vh!important;
    }
    body.single-post aside{
        padding-top: 0px!important;
    }
    body.single-post .recent-posts .col-ressources-side .post-content-side {
        margin-top: 30px;
        width: 300px;
    }
    body.single-post aside .ressources-cat-filter{
        margin: 0px 20px 0px 0;
        display: flex;
        align-items: center;
    }
}
@media only screen and (max-width: 899px) {
    .header-desktop button{
        position: absolute;
        right: 0px;
        width: max-content;
        top: 5px;
        height: auto;
        justify-content: flex-start;
    }
}
@media only screen and (max-width: 768px) {
    .single-top-bkg {
        height: 30vh;
    }
    .single-post-content, body.single-post aside {
        padding: 8vh 0;
    }
    body.single-post h1 {
        font-size: 4.5vh;
        color: #333333;
        line-height: 1.25;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .custom-logo-link img{
        max-width: 220px;
    }    
    ul#menu-header-languages{
        height: 30px;
    }
    /* RESSOURCES */
    .content-post-thumbnail img {
        height: 160px;
        object-fit: cover;
    }
    .post-content-forward p {
        max-width: 100%;
    }
    .label-post-forward {
        font-size: 16px;
        padding: 8px 15px;
    }
    .ressources-row-forward h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .post-author-row{
        flex-direction: column;
        align-items: flex-start;
    }
    .post-author-row > div{
        display: none!important;
    }
    span.content-post-cat{
        margin-left: 0px;
    }
    .ressources-title-row h1 {
        font-size: 4.5vh;
    }
    body.single-post .post-author-row > div{
        display: flex!important;
    }
}
@media only screen and (max-width: 767px) {
    .ressources-forward-aside {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }
    .ressources-cat-filter-row > div.row{
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: auto;
        padding: 0px 40px 40px 0;
    }
    .ressources-cat-filter h4, .ressources-cat-all a{
        width: max-content;
        display: block;
    }
    .col-ressources-post {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 575px) {

        
    .prefooter img{
        display: none;
    }
    .prefooter .footer-start-learning{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer-first-col, .footer-second-col, .footer-third-col, .footer-fourth-col{
        position: relative;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .footer-first-col{
        display: flex;
        justify-content: space-between;
    }
    .footer-fourth-col {
        flex-direction: column;
    }
    .footer-partners{
        justify-content: left!important;
    }
    .footer-social {
        margin-top: 20px;
    }
    #modal-container .modal-background .modal {
        background: white;
        width: 100%;
        position: relative;
        height: 100%;
        border-radius: 0px;
    }
    footer .main-footer ul li {
        list-style-type: none;
        padding: 8px 0px;
    }
    /* RESSOURCES */
    .post-content-forward-img {
        margin-right: 20px;
    }
    .label-post-forward {
        left: 0px;
    }
    .ressources-row-forward h4 {
        margin-top: 30px;
    }
    .col-ressources-side .post-content-side .read-more-span::after{
        display: none;
    }
    .blog-ressources-container .col-ressources-side{
        max-width: 50%;
    }
    /* SINGLE */
    body.single-post .single-post-content h2{
        font-size: 28px;
        margin: 20px 0;
        line-height: 36px;
    }
    body.single-post .single-post-content h3{
        font-size: 24px;
        margin: 20px 0;
    }
    body.single-post .recent-posts .col-ressources-side .post-content-side {
        margin-top: 30px;
        width: 260px;
    }
    body.single-post aside .ressources-cat-all{
        display: flex;
        align-items: center;
    }
    .single-post-content p {
        font-size: 17px;
        font-family: 'Avenir Next';
        letter-spacing: 0;
        line-height: 24px;
    }
    
}
@media only screen and (max-width: 420px) {
    #modal-container .modal-background .modal {
        background: white;
        padding: 60px 30px 10px;
    }
    #modal-container .modal-background .modal h2 {
        font-size: 26px;
        line-height: 36px;
        font-family: 'Avenir Next';
        margin-bottom: 30px;
        margin-top: 30px;
    }
    /* RESSOURCES */
    .content-post-thumbnail img {
        height: 120px;
    }
    .col-ressources-post-forward .post-content-forward, .col-ressources-side .post-content-side{
        flex-direction: column;
    }
    .col-ressources-post-forward .content-post-thumbnail img {
        height: 180px;
    }
    .post-content-forward-img {
        margin-right: 0px;
        width: 100%;
    }
    .post-content-forward-img .content-post-thumbnail{
        margin-bottom: 20px;
    }
    .col-ressources-side .post-content-side{
        align-items: flex-start;
    }
    .col-ressources-side .content-post-thumbnail img {
        width: 140px;
    }
    .post-content-side-img .content-post-thumbnail:last-of-type{
        margin-bottom: 10px;
    }
    .col-ressources-side .post-content-side .read-more-span::after{
        display: block;
    }
    /* SIONGLE */
    body.single-post .recent-posts .col-ressources-side .content-post-thumbnail img {
        min-width: 90px;
        width: 100%;
    }
    body.single-post h1 {
        font-size: 4vh;
    }
    body.single-post .row-author-post-date {
        margin: 0 0 20px 0;
    }
    body.single-post .recent-posts .col-ressources-side .post-content-side {
        margin-top: 30px;
        width: 180px;
    }
}
