




/* 13 POUCES */
@media (max-width: 1280px) {

}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


}

@media only screen and (max-width: 992px) {
 
}

/* IPAD */
@media (max-width: 768px) {
    .horizontal-scroll-768 {
        margin: 0!important;
        width: 100%!important;
        flex: 100%!important;
        max-width: 100%!important;
        padding: 0!important;
        overflow: hidden;
    }
    .horizontal-scroll-768 .container-horizontal-scroll {
        margin-top: 50px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: auto;
        padding: 0 40px 10vh 30px;
        margin-bottom: 30px;
    }
}

/* MOBILE */
@media (max-width: 576px) {
  
}
