.image-svg-anim{
  display: flex;
  justify-content: center;
  z-index: 1;
}
.speed-0, .speed-1, .speed-2, .speed-3{
  position: relative;
}
svg{
  overflow: visible;
  max-width: 100%;
}
.anim-image-container .position-absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.anim-image-container img{
  width: 100%;
}