/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/
.wp-block-acf-block-2-columns > div{
    padding: 60px 0;
}
.wp-block-acf-block-2-columns .row-reverse{
    flex-direction: row-reverse;
}
.wp-block-acf-block-2-columns .row-icon{
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}
.wp-block-acf-block-2-columns .row-icon-content{
    margin-left: 15px;
}

.wp-block-acf-block-2-columns .block-content h2{
    margin-bottom: 30px;
    margin-top: 10px;
}
.wp-block-acf-block-2-columns .block-content h3{
    margin-bottom: 30px;
}
.wp-block-acf-block-2-columns .block-content h4{
    font-family: 'Avenir Next Medium';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    margin-bottom: 30px;
}

.wp-block-acf-block-2-columns .block-content{
    margin-bottom: 40px;
}
.wp-block-acf-block-2-columns .block-content p{
    font-family: 'Avenir Next';
    font-size: 18px;
    letter-spacing: 0;
}
.wp-block-acf-block-2-columns .logo-before{
    height: 20px;
    margin-bottom: 20px;
}
span.page-label{
    display: inline-flex;
    font-family: 'Avenir Next Medium';
    font-size: 12px;
    color: #25A89B;
    letter-spacing: 0;
    text-align: right;
    border: 1px solid #25A89B;
    border-radius: 2.5px;
    padding: 2px 8px;
    margin-bottom: 10px;
}
.block-2-columns-img svg{
    overflow: visible;
}
.wp-block-acf-block-2-columns .block-citation-container{
    position: relative;
    margin: 0 20px;
}
.wp-block-acf-block-2-columns .block-citation-content{
    background: #FFFFFF;
    position: relative;
    box-shadow: 0 2px 15px 2px rgba(51,51,51,0.12);
    border-radius: 10px;
    padding: 30px 50px;
    max-width: calc(100% - 80px);
    margin: 50px auto;
}
.wp-block-acf-block-2-columns ul.slick-dots {
    position: absolute;
    bottom: 0;
    padding-left: 0!important;
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateX(-20px);
}
.wp-block-acf-block-2-columns .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.wp-block-acf-block-2-columns .slick-dots li {
  margin: 0 0.25rem;
}
.wp-block-acf-block-2-columns .slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #FFFFFF;
  border: solid 1px var(--hypno1);;
  text-indent: -9999px;
}
.wp-block-acf-block-2-columns .slick-dots li.slick-active button {
  background-color: var(--hypno1);
  border: none;
}
.wp-block-acf-block-2-columns .block-citation-content img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    object-fit: cover;
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: 9999;
}
.wp-block-acf-block-2-columns .block-citation-content::before{
    content: url(../../../assets/img/svg/bg-photo-img-round.svg);
    display: block;
    position: absolute;
    left: -40px;
    top: 0px;
    z-index: -1;

}
.wp-block-acf-block-2-columns .block-citation-content blockquote{
    font-size: 20px;
    font-family: 'Avenir Next';
    letter-spacing: 0;
}
.wp-block-acf-block-2-columns .block-citation-content .citation-signature p{
    font-size: 14px;
}




/* RESPONSIVE  */
@media only screen and (max-width: 992px) {
    .wp-block-acf-block-2-columns .row-icon {
        width: 50%;
    }
    .wp-block-acf-block-2-columns .block-content .row-icon-content h3 {
        margin-bottom: 0px;
        font-size: 22px;
        line-height: 1.3;
        font-family: 'Avenir Next Medium';
    }
}
@media only screen and (max-width: 768px) {
 
}
@media only screen and (max-width: 575px) {
    .wp-block-acf-block-2-columns .row-icon {
        width: 100%;
    }
    .wp-block-acf-block-2-columns .block-content > div{
        margin-bottom: 40px;
    }
    .wp-block-acf-block-2-columns > div {
        padding: 40px 0;
    }
    .block-video-row {
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        overflow: auto;
    }
    .block-video-row > div{
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 420px) {
    .wp-block-acf-block-2-columns .block-content h2 {
        font-size: 24px;
        line-height: 32px;
    }
    .wp-block-acf-block-2-columns .block-citation-content {
        background: #FFFFFF;
        position: relative;
        box-shadow: 0 2px 15px 2px rgb(51 51 51 / 12%);
        border-radius: 10px;
        padding: 20px 30px;
    }
    .wp-block-acf-block-2-columns .block-citation-content blockquote {
        font-size: 16px;
        font-family: 'Avenir Next';
        letter-spacing: 0;
        line-height: 24px;
    }
    .wp-block-acf-block-2-columns .block-citation-content .citation-signature p {
        font-size: 12px;
    }    
}   