/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/
section.home-dimensions.wp-block-acf-home-dimensions-hypno{
    padding-bottom: 15vh;
}
.wp-block-acf-home-dimensions-hypno .block-content h2, .wp-block-acf-home-dimensions-hypno .block-content h3{
    font-family: 'Avenir Next Demi';
    font-size: 40px;
    color: #333333;
    letter-spacing: 0;
    line-height: 50px;
}
.wp-block-acf-home-dimensions-hypno .block-content blockquote{
    font-family: 'Avenir Next';
    font-size: 16px;
    text-transform: uppercase;
    color: #333333;
    letter-spacing: 2.24px;
    line-height: 44px;
}
.wp-block-acf-home-dimensions-hypno .block-content blockquote p{
    margin-bottom: 0px;
}
.wp-block-acf-home-dimensions-hypno .col-repeater{
    background-color: #FFFFFF;
    box-shadow: 0 2px 15px 0 rgba(51,51,51,0.13);
    border-radius: 10px;
    padding: 0 0 20px 0;
    overflow: hidden;
    height: 100%;
}
.wp-block-acf-home-dimensions-hypno .col-repeater img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.wp-block-acf-home-dimensions-hypno .col-repeater-content{
    padding: 20px;
}
.wp-block-acf-home-dimensions-hypno .col-repeater-content h3{
    font-family: 'Avenir Next Medium';
    font-size: 22px;
    color: #333333;
    letter-spacing: 0;
}
.wp-block-acf-home-dimensions-hypno .col-repeater-content p{
    font-family: 'Avenir Next';
    font-size: 17px;
    color: #333333;
    letter-spacing: 0;
    line-height: 24px;
}


@media only screen and (max-width: 1200px){
    .wp-block-acf-home-dimensions-hypno .row-repeater{
        justify-content: space-evenly;
    }
    .wp-block-acf-home-dimensions-hypno .row-repeater .col-repeater{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 992px){
    .wp-block-acf-home-dimensions-hypno .row-repeater{
        margin-top: 50px;
    }
    .wp-block-acf-home-dimensions-hypno .block-content h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .wp-block-acf-home-dimensions-hypno .block-content blockquote {
        font-size: 14px;
        line-height: 26px;
    }
    .wp-block-acf-home-dimensions-hypno .col-repeater img{
        object-position: bottom;
    }
}
@media only screen and (max-width: 768px){
    .wp-block-acf-home-dimensions-hypno .block-content blockquote {
        font-family: 'Avenir Next';
        font-size: 16px;
        text-transform: uppercase;
        color: #333333;
        letter-spacing: 2.24px;
        line-height: 44px;
    }
    .wp-block-acf-home-dimensions-hypno .row-repeater {
        margin-top: 50px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: auto;
        padding: 0 40px 10vh 30px;
        margin-bottom: 30px;
    }
    section.home-dimensions.wp-block-acf-home-dimensions-hypno {
        padding-bottom: 0vh;
        overflow: hidden;
    }
}
@media only screen and (max-width: 575px){
    .wp-block-acf-home-dimensions-hypno .col-repeater img {
        object-position: center;
    }
}
@media only screen and (max-width: 420px){
    .wp-block-acf-home-dimensions-hypno .block-content blockquote {
        line-height: 32px;
    }
}