/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/

.wp-block-acf-home-dashboard > div{
    padding-top: 150px;
    padding-bottom: 120px;
    background-size: 100% 100%!important;
}

.wp-block-acf-home-dashboard .block-content{
    text-align: center;
    margin-top: 50px;
}
.wp-block-acf-home-dashboard .block-content h3{
    font-family: 'Avenir Next';
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0;
}
.wp-block-acf-home-dashboard .block-content-img img{
    width: 100%;
}
.wp-block-acf-home-dashboard .block-content-repeater img{
    margin: 0 5px;
}



@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {
    .wp-block-acf-home-dashboard .block-content h3 {
        font-family: 'Avenir Next';
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
    }
    .wp-block-acf-home-dashboard .block-content {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 5vh;
    }
}
@media only screen and (max-width: 420px) {
    .wp-block-acf-home-dashboard .block-content h3 {
        font-family: 'Avenir Next';
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0;
    }
    .wp-block-acf-home-dashboard > div {
        padding-top: 100px;
    }
    .wp-block-acf-home-dashboard > div {
        padding-bottom: 15vh;
    }
}